{% extends "staff/layout.html"%}
{% block content %}


<table class="table table-bordered" >
	<thead>
	<tr>
		<th scope="col" style="color:black">Category Name</th>
		<th scope="col" style="color:black">Created Date</th>
		<th scope="col" style="color:black">Updated Date</th>
		<th scope="col" style="color:black">Action</th>
		<th scope="col" style="color:black">Action</th>
	</tr>
	</thead>
	<tbody>
	{% for category in categories %}
	<tr>
		<td style="color:black">{{ category.category_name }}</td>
		<td style="color:black">{{ category.create_date }}</td>
		<td style="color:black">{{ category.update_date }}</td>
		<td><button><a href="{{ url_for('update_category_by_id',category_id=category.id) }}">Edit</a></button></td>
		<td><button><a href="{{ url_for('delete_category_by_id',category_id=category.id) }}">Delete</a></button></td>
	</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock content %}
